@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
.navbar {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-family: "Margarine", sans-serif;
  padding: 0 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
}
.logo {
  margin: 0;
  font-size: 1.5em;
  display: none;
}
.shortLogo {
  position: relative;
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  color: rgba(68, 109, 97, 1);
  text-shadow: 0.5px 0.5px 0px rgba(34, 223, 195, 1),
    -0.5px -0.5px 0px rgba(34, 223, 195, 1),
    -0.5px 0.5px 0px rgba(34, 223, 195, 1),
    0.5px -0.5px 0px rgba(34, 223, 195, 1);
}
.linkNavbar {
  display: flex;
}
@media (min-width: 768px) {
  .shortLogo {
    top: 10px;
    font-size: 3em;
  }
}
@media (min-width: 1000px) {
  .linkNavbar {
    margin-right: 2em;
  }
  .shortLogo {
    top: 20px;
    font-size: 5em;
  }
}
