@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

.containerFilters {
  position: relative;
  display: flex;
  background-color: #ffffff35;
  margin: 0 auto;
  height: 2.6em;
  border-radius: 1em;
  padding: 0.7em;
  max-width: 30em;
  gap: 1em;
  justify-content: center;
}

.favoriteImages {
  margin: 0 auto;
  max-width: 50em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3em;
  justify-content: center;
  min-height: 100vh;
}
.alert {
  color: rgba(243, 243, 243, 1);
  font-family: "Margarine", sans-serif;
  font-size: x-large;
  text-align: center;
  text-shadow: 0.5px 0.5px 2px rgb(3, 85, 82), -0.5px -0.5px 2px rgba(3, 85, 82),
    -0.5px 0.5px 2px rgba(3, 85, 82), 0.5px -0.5px 2px rgba(3, 85, 82);
}
.iconsSvg {
  position: relative;
  bottom: 3em;
  height: 2.5em;
  display: flex;
  justify-content: center;
}
.download {
  height: 100%;
}
.edit {
  height: 100%;
}
.delete {
  height: 100%;
}

.download:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 3px rgb(1, 155, 27));
}
.edit:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
}
.delete:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 5px rgba(253, 0, 0, 0.788));
}
.clear {
  position: absolute;
  margin: 0.7em 5.5em 0.8em 0;
  color: rgba(245, 95, 95, 0.411);
  font-family: sans-serif;
  font-size: initial;
  cursor: pointer;
}
.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.021);
  backdrop-filter: blur(1em);
}
.popup__close {
  position: absolute;
  cursor: pointer;
  margin: 0.3em;
  width: 2em;
  height: 1.8em;
  top: 1em;
  right: 1em;
}
.popup__Info {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto 1em;
}
.popup__Img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 1em 1em 0 0;
  margin: 1em 1em 0 1em;
}
.popup__dates {
  position: relative;
  display: grid;
  grid-template-columns: 45% 45%;
  background-color: rgb(33, 33, 33);
  max-width: 100%;
  border-radius: 0 0 1em 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 1em;
}
.popup__dates__p {
  color: aliceblue;
  font-family: sans-serif;
  font-size: small;
  margin: 0.2em 0;
}
.popup__dates__description {
  width: 180%;
}

@media (min-width: 1000px) {
  .favoriteImages {
    max-width: 70em;
  }
}
