@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

.containerFilters {
  display: flex;
  background-color: #ffffff35;
  height: 2.6em;
  border-radius: 1em;
  padding: 0.7em;
  margin: 0 auto;
  max-width: 30em;
  justify-content: space-between;
}

.favoriteImages {
  margin: 0 auto;
  max-width: 50em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.alert {
  color: rgba(243, 243, 243, 1);
  font-family: "Margarine", sans-serif;
  font-size: x-large;
  text-align: center;
  text-shadow: 0.5px 0.5px 0px rgba(68, 109, 97, 1),
    -0.5px -0.5px 0px rgba(68, 109, 97, 1),
    -0.5px 0.5px 0px rgba(68, 109, 97, 1), 0.5px -0.5px 0px rgba(68, 109, 97, 1);
}
.iconsSvg {
  position: relative;
  margin: auto;
  width: fit-content;
  bottom: 3em;
  height: 2.5em;
}
.download {
  height: 100%;
}
.edit {
  height: 100%;
}
.delete {
  height: 100%;
}

.download:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 3px rgb(1, 155, 27));
}
.edit:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
}
.delete:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 5px rgba(253, 0, 0, 0.788));
}

@media (min-width: 1000px) {
  .favoriteImages {
    max-width: 70em;
  }
}
