@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Margarine&display=swap");

.navbar {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
  color: aliceblue;
  font-family: "margarite", cursive;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
}
.logo {
  font-size: 1.5em;
  display: none;
}
.shortLogo {
  font-size: 2.5em;
  font-weight: 600;
  color: rgba(68, 109, 97, 1);
  filter: drop-shadow(0 1px 1px rgba(34, 223, 195, 0.8));
}
