.search {
  display: flex;
  height: 2.6em;
  border-radius: 1em;
  max-width: 30em;
  justify-content: space-between;
}
.containerSearch {
  position: relative;
  background-color: #ffffff35;
  border-radius: 1em;
  padding: 0.7em;
  margin: 0 auto;
  max-width: 30em;
}
.containerButton {
  display: flex;
  background-color: rgb(33, 33, 33);
  border-radius: 1em;
}
.searchButton {
  width: 2em;
  cursor: pointer;
  padding: 0 0.6em;
}
.searchInput {
  background-color: rgb(33, 33, 33);
  border-radius: 1em;
  border: none;
  outline: none;
  color: rgba(243, 243, 243, 1);
  width: 70%;
  font-size: 0.8em;
}
.searchInput:focus {
  box-shadow: 0 0 7px rgba(243, 243, 243, 1);
}
.deleteInput {
  position: absolute;
  right: 33%;
  margin: 0.7em 0;
  color: rgba(245, 95, 95, 0.425);
  font-family: sans-serif;
  cursor: pointer;
  font-size: 0.8em;
}
