.search {
  display: flex;
  height: 2.6em;
  border-radius: 1em;
  max-width: 30em;
  justify-content: center;
}
.containerButton {
  display: flex;
  background-color: rgb(33, 33, 33);
  border-radius: 1em;
}
.searchButton {
  width: 2.2em;
  cursor: pointer;
  padding: 0 0.6em;
}
.searchInput {
  background-color: rgb(33, 33, 33);
  border-radius: 1em;
  border: none;
  outline: none;
  color: rgba(243, 243, 243, 1);
  font-size: medium;
  margin: 0 5%;
  width: 10em;
}
.searchInput:focus {
  box-shadow: 0 0 7px rgba(243, 243, 243, 1);
}
