@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

.imagesApi {
  margin: 0 auto;
  max-width: 50em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3em;
  justify-content: center;
}
.container {
  position: relative;
}
.images {
  width: 17em;
  border: 1px solid rgba(243, 243, 243, 0.3);
  border-radius: 0.5em;
}
.heartSvg {
  position: absolute;
  width: 1.4em;
  right: 0.6em;
  top: 0.6em;
  filter: drop-shadow(1px 1px 2px black);
}
.downloadImg {
  position: relative;
  right: 7em;
  width: 6em;
}
.downloadImg:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 3px rgb(1, 155, 27));
}

@media (min-width: 1000px) {
  .imagesApi {
    max-width: 70em;
  }
}
