@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

.imagesApi {
  columns: 1;
  margin: 0 auto;
}
.container {
  position: relative;
  max-width: 21em;
  margin: 0 auto 1em auto;
}
.images {
  width: 100%;
  border: 1px solid rgba(243, 243, 243, 0.3);
  border-radius: 0.5em;
}
.iconsSvg {
  position: absolute;
  bottom: 0.5em;
  width: 3em;
  height: 2.5em;
  display: flex;
  justify-content: center;
}

.heartSvg {
  position: absolute;
  width: 1.4em;
  right: 0.6em;
  top: 0.6em;
  filter: drop-shadow(1px 1px 2px black);
}
.downloadImg {
  right: 7em;
  width: 6em;
}
.downloadImg:hover {
  scale: 1.2;
  filter: drop-shadow(0 0 3px rgb(1, 155, 27));
}

@media (min-width: 490px) {
  .imagesApi {
    columns: 2;
    max-width: 90%;
  }
}
@media (min-width: 790px) {
  .imagesApi {
    columns: 3;
    max-width: 90%;
  }
}
@media (min-width: 1000px) {
  .imagesApi {
    columns: 4;
    max-width: 80%;
  }
}
@media (min-width: 1300px) {
  .imagesApi {
    columns: 5;
    width: 90%;
    max-width: 85em;
  }
}
